// Скидання стилів
* {
  box-sizing: border-box;
}

// Центрування
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
