// Календар
.calendar {
  display: flex;
  justify-content: center;

  &__field {
    display: flex;
    flex-wrap: wrap;
    gap: $cell-gap;
    padding: $calendar-padding;
    width: calc($columns * $cell-size + ($columns - 1) * $cell-gap);
  }

  &__day {
    width: $cell-size;
    height: $cell-size;
    background-color: $calendar-bg;
    border: $border;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    position: relative;



    &:hover {
      cursor: pointer;
      animation-duration: 0.5s;
      background-color: $hover-color; // Колір фону при наведенні (рожевий)
      transform: translateY(-20px); // Переміщення на 20px вгору
     transition:
      background-color 0.5s,
      transform 0.5s;
    }
  }

  // Числа через псевдоелементи
  @for $i from 1 through 31 {
    &__day:nth-child(#{$i})::before {
      content: '#{$i}';
      font-size: $font-size;
      font-family: Arial, sans-serif;
      position: absolute;
    }
  }

  // Модифікатори довжини місяця
  @for $days from 28 through 31 {
    &--month-length-#{$days} {
      .calendar__day:nth-child(n + #{$days + 1}) {
        display: none;
      }
    }
  }

  // Модифікатори старту тижня
  $days-map: (
    mon: 0,
    tue: 1,
    wed: 2,
    thu: 3,
    fri: 4,
    sat: 5,
    sun: 6,
  );

  @each $day, $index in $days-map {
    &--start-day-#{$day} {
      .calendar__day:first-child {
        margin-left: calc(($cell-size + $cell-gap) * #{$index});
      }
    }
  }
}
